<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/homework/eatdaBurger/public/assets/css/style.css" type="text/css">
		<title>Eat Da Burger</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
        
		{{{ body }}}

    <div class="row">
        <div class="inputField">
            <div class="center">
                <input id="burgerName" type="text" placeholder="Name of Your Burger" data-eaten="0">
                <button id="addBurger" type="button">Add Burger!</button>
            </div>
        </div>

	</body>
</html>